<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
        {{ partial "head.html" . }}
        
        {{ block "main" . }}{{ end }}
	</div>
	{{ partialCached "footer.html" . }}
</body>
</html>