{{ define "main" }}
<div class="list">
	{{ if isset .Data "Term" }}
	<h1>"{{ .Data.Term }}"</h1>
	{{ else }}
	<h1 class="page-title">All articles</h1>
	{{ end }}

	{{ with .Content }}{{ . }}{{ end }}

	<ul class="posts">
		{{- range .Data.Pages -}}
		{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
		{{- else -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span
				class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span>
				{{ end }}</span>
		</li>
		{{- end -}}
		{{- end -}}
	</ul>
</div>
{{ end }}