{{ define "main" }}
<div class="tags">
	<h1 class="page-title">{{ .Title }}</h1>

	{{ with .Content }}{{ . }}{{ end }}

	{{ $biggest := 1 }}
	{{ $smallest := 1 }}
	{{ $max := 3 }}
	{{ $min := 1 }}
	{{ $size := $min }}

	{{ $data := .Data }}
	<div class="tag-cloud">
		{{ range $key, $value := .Data.Terms.ByCount }}
		{{ $size := (add (mul (div $value.Count $biggest) (sub $max $min)) $min) }}
		{{ $size := (cond (eq $biggest $smallest) $min $size) }}
		<a style="font-size: {{ $size }}rem;"
			href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
		{{ end }}
	</div>
</div>
{{ end }}