<div class="footer wrapper">
	<nav class="nav">
		<div>{{ .Site.Copyright | markdownify }} | <a href="https://github.com/vividvilla/ezhil">Ezhil theme</a> | Built
			with <a href="https://gohugo.io">Hugo</a></div>
	</nav>
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}