{{ define "main" }}
{{ with .Content }}{{ . }}{{ end }}
<div class="recent-posts section">
	<h2 class="section-header">
		Recent posts
	</h2>
	<div class="posts">
		{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
		{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
		{{ range $paginator.Pages }}
		<div class="post">
			<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</div>
			<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a>
			<br>
			<span class="description">
				{{ if isset .Params "description" }}
				{{ .Description }}
				{{ else }}
				{{ .Summary }}<a class="title" href="{{ .RelPermalink }}">&hellip;</a>
				{{ end }}
			</span>
		</div>
		{{ end }}
		{{ template "partials/paginator.html" . }}
	</div>
</div>
{{ end }}